/* GlOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  color: #111;
  background: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 48px;
  position: sticky;
  top: 0;
  /* z-index: 100; */
  color: #575757;
}

.nav-links {
  display: flex;
  gap: 32px;
  list-style: none;
}
.nav-links a {
  color: #9ca3af;
  font-size: 16px;
  transition: color 0.2s;
}
.nav-links a:hover {
  color: #867e7e;
}
.btn-primary {
  background: #1d4ed8;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}
.btn-primary:hover {
  background: #1d4ed8;
}
