/* GlOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  color: #111;
  background: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 48px;
  /* position: sticky; */
  top: 0;
  color: #575757;
}

.nav-links {
  display: flex;
  gap: 32px;
  list-style: none;
}
.nav-links a {
  color: #9ca3af;
  font-size: 16px;
  transition: color 0.2s;
}
.nav-links a:hover {
  color: #867e7e;
}
.btn-primary {
  background: #1d4ed8;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}
.btn-primary:hover {
  background: #4370ed;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  background-image: url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/ .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  font-weight: 700;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: clamp(1rem, 2vw, 1.25rem);
  max-width: 600px;
  margin: 20px auto 60px auto;
  line-height: 1.2;
}

.hero-content button {
  margin-top: 200px;
  padding: 20px 60px;
}
